<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro</title>
  <%= stylesheet_link_tag 'pomodoro_kitchen.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<% [:info, :error].each do |key| %>
   <% if flash[key] %>
   <div class="<%= key %>" id="flash">
     <%= flash[key] %>
   </div>
   <% end %>
 <% end %>

<div id="content-box">
  <div id="header">
    <div id="logo">
        <div id="title">
          Pomodoro Kitchen
        </div>
        <div id="caption">
          Organize your time
        </div>
    </div>
    <% if signed_in? %>
        <div id="menu">
          Welcome <%= current_user.name %>
          <br/><%= link_to "Logout", '/logout' %>
        </div>
    <% end %>

  </div>
  <%= yield %>
</div>


</body>
</html>
