<!DOCTYPE html>
<html>
<head>
  <title>Pomodoro</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag  'pomodoro/pomodoro.css'%>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
<%= yield %>

</body>
</html>
